* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #191919;
}

.footer {
  margin: 0 auto 1.5rem auto;
  background-color: #252525;
  border: 0.125rem solid #333333;
  border-radius: 15px;
  padding: 1rem;
  color: #fff;
  font-size: 1.25rem;
  position: relative;
  z-index: 1;
}

a {
  background: linear-gradient(90deg, rgba(191,254,111,1), rgba(107,251,224,1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transition: 0.25s;
}

a:hover {
  opacity: 70%;
}